<div class="container mt-4 ">
  <div class="row justify-content-center mb-4 ">
    <div class="col-md-6">
      <div class="input-group">
        <div class="container-groups">
          <input type="text" class="form-control card shadow rounded" [(ngModel)]="searchTerm" (input)="searchProducts()" placeholder="Search for the product you want...">
          <button class="btn btn-custom" type="button" routerLink='/distributororders'>My Orders</button>
      </div>
    </div>
    </div>
    
    
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts.length > 0 ? filteredProducts : products">
      <app-product-card
        [productName]="product.productName"
        [productInfo]="product.productInformation"
        [stockQuantity]="product.productQuantity"
        [price]="product.productPrice * karmarji"
        [productId]="product.id"
      ></app-product-card>
    </div>
    

  </div>
  <button class="btn btn-primary" type="button" (click)="goToBasket()">Go To Basket</button>

  

  <router-outlet> </router-outlet>

</div>